html{
    background-color: black;
}
.home{
    height: 80vh;
    width: 70%;
    background-color:rgb(174, 103, 255) ;
    border-radius: 50px;
    margin: 4rem auto;
    text-align: center;
    color: white;
    padding-top: 50px;
}


.inp{
    display: flex;
    width: 60%;
    margin: auto;
    padding-left: 20px ;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: white;

}
.title{
    height: 40px;
}
.des{
    height: 70px;
}
.btn{
    color: rgb(3, 3, 3);
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
    height: 40px;

}
.btn:hover{
    background-color: black;
    color: white;
    transition: 1s;
}

.goals{
    background-color: white;
    min-height: 200px;
    border-radius:50px;
    padding: 50px;
    margin: 5% auto;
    width: 80%;
}

.goals-Header{
    color: black;
    margin-bottom: 40px;
}
.yourgoals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    grid-gap: 20px;
  }
  
  
